/* Corpo HOME */
.homeArea {
    padding-left: 20px;
    padding-right: 20px;
}
aside {
    display: block;
}

aside .homeArea h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    size: 60px;
    color: black;
}
aside .homeArea h2 {
    font-size: 17px;
    color: #3e3e3e;
    margin-bottom: 30px;
}
#homeImg1 img{
    width: calc(100% - 40px);
}
.imgFacilit {
    width: calc(100% - 40px);
}
.homeArea nav ul {
    display: flex;
    flex-direction: row;
}

.homeArea nav ul li {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgFacilit{
      /* arrumar depois */
    height: 250px;
}
.imgFacilit img {
    width: calc(100% - 20px);
    height: 100%;
    background-color: red;
}
#mercadosParceiros {
    margin-top: 100px;
}