* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    outline: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
.bodyArea {
    width: 768px;

}


/* Cabecalho */
header {
    margin-left: 0.5px;
    background-color: #63B279;
    height: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    top: 0;
}
header #nameText {
    color: #ffffff;
    size: 25px;
    padding-left: 50px;
}

.headArea{
    flex: 1;
    
}
.headArea{
    flex: 2;
}

header nav {
    display: flex;
}
header nav ul {
    flex-direction: row;
}
header li {
    list-style: none;
    size: 20px;
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
header a:hover {
    color: #D9D9D9;
}
header #botaoLogin  {
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
}
.areaMob {
    display: none;
    width: 43px;
    height: 43px;
    padding-right: 3px;
    justify-content: end;
    text-align: end;
    align-items: end;
}
.menuMob{
    display: none;
    list-style: none;
    position: fixed;
    top: 100px;
    right: 0px;
    width: 70px;
    justify-content: center;
    color: #ffffff;
    background-color: #63B279;
    padding: 10px;
    text-decoration: none;
    border-left: 1px solid #478157;
    border-bottom: 1px solid #478157;
    text-align: end;
    
}
.menuMob li a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 20px;
}
.menuMob li {
    padding-top: 10px;
    list-style: none;
}
.ativo {
    display: block;
    
}
.ativo {
    animation-duration: 2s;
    animation-name: slidein;
  }

  
  @keyframes slidein {
    from {
      margin-right: -30%;
      margin-top: 0px;
    }
  
    to {
      margin-right: 0%;
      margin-top: 0px;
    }
  }
@media(max-width: 767px){
    .areaMob {
        display: inline-block;
    }
    .mobTrac1{
        width: 40px;
        border-radius: 5px;
        height: 8px;
        background-color: #ffffff;
        margin-bottom: 5px;
    }
    .mobTrac2 {
        width: 40px;
        border-radius: 5px;
        height: 8px;
        background-color: #ffffff;
        margin-bottom: 5px;
    }
    .mobTrac {
        margin-left: 10px; 
        width: 30px;
    }

    .mobTrac3 {
        width: 40px;
        border-radius: 5px;
        height: 8px;
        background-color: #ffffff;
        margin-left: 0px;
    }
    .mobTrac4 {
        margin-left: 20px; 
        width: 20px;
    }
    
    .headeArea nav {
        display: none;
    }
}
