* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
.bodyArea {
    width: 768px;
    background-color: #000000;
}


/* Cabecalho */
header {
    background-color: #63B279;
    height: 100px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
header #nameText {
    color: #ffffff;
    size: 25px;
    padding-left: 50px;
}

.headArea{
    width: calc((100% / 2)); 
}
header nav {
    display: flex;
}
header nav ul {
    flex-direction: row;
}
header li {

    list-style: none;
    size: 20px;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
header a:hover {
    color: #D9D9D9;
}

/* Corpo CADASTRO*/